.container{
   background-color: rgba(59,65,201,0.2); 
    box-sizing: content-box;
    text-align: center;
    display:inline-flex;
    flex-direction: column;
    width: 100%;
   
    
}
.item{
   
    margin: 1.5%;
    border: 2px solid blueviolet;
    padding: 0.05%
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 50%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  button{
    width: 9rem;
    height: 4rem;
    border-radius: 8px;
  }
    button:hover{
    
        background-color: rgb(79, 10, 145);
        color:white;
        font-weight:bold;
   
  }
  #botones{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
  }
