*{
    box-sizing: border-box;
    margin: 0;
}

/* selectores de etiquetas por tipo */

body{
    font-size: 16px;
    background-image: linear-gradient(to top, #c8dcf0 0%, (#ffffff) 100%);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem 0;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
}
header{
    background: rgb(59,65,201);
    background: radial-gradient(circle, rgba(59,65,201,1) 0%, rgba(132,134,207,1) 100%);
    max-width: 100%;
}

/* selectores de clase y identificador */
#login{
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media (min-width: 768px) {
    #login{
        margin-right: 5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
.sesion{
    margin-left: 2rem;
}

#navegacion{
    font-size: 20px;
    background: rgb(117, 117, 212);
    padding: 0.5rem;
}
.search-nav{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 556px) {
    .search-nav{
        flex-direction: row;
        justify-content: space-around;
    }
}
/*main */
#shadow{
    margin: .5rem 2rem;
    -webkit-box-shadow: 0px 4px 8px 1px rgba(133,137,214,1);
    -moz-box-shadow: 0px 4px 8px 1px rgba(133,137,214,1);
    box-shadow: 0px 4px 8px 1px rgba(133,137,214,1);
}

h2{
    text-align: center;
    margin: 2rem;
    padding-top: 2rem;
    text-decoration:underline;
    font-size: 50px;
}



 #Section1 
{
    padding: 0.5rem;
   margin: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

}
 #Section1 section
{
   
    text-align: center;
    margin: 2rem;
    padding: 3rem;
    width: 55rem;
    height: 120rem;
    overflow:auto;
    border-right: 1rem dotted black;
    border-left: 1rem dotted black;;
    
}

#Section1 section img{
    width: 40rem;
    height: 30rem;
    
    padding: 1rem;
}
#Section1 section #img1
{
    width: 180px;
    height: 200px;
    background-color: red;
    border: 1px solid red;
    position: relative;
    display: inline;
    flex-wrap: wrap;
    border-radius: 2rem;
    margin: 5px;
}
#Section1 section h4{
    font-size: 3rem;
   margin: 2rem;
}
#Section1 section ul li{
    list-style: none;
    justify-content: left;
    text-align: left;
    flex-wrap: wrap;
     padding: 5px;
     top: -6rem;
     font-size: 2rem;
  }
  
  h3{
    
    text-align: center;
    margin-top: 15px;
    text-decoration:underline;
    font-size: 30px;
    padding-bottom: 1rem;
}