*{
    box-sizing: border-box;
    margin: 0;
}

/* selectores de etiquetas por tipo */

body{
    font-size: 16px;
    background-image: linear-gradient(to top, #c8dcf0 0%, (#ffffff) 100%);
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem 0;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    /*border: 2px solid black*/
}
header{
    background: rgb(59,65,201);
    background: radial-gradient(circle, rgba(59,65,201,1) 0%, rgba(132,134,207,1) 100%);
    max-width: 100%;
}
/*input{
    border: 2.5px solid #B3B6B7;
    width: 35%;
    border-radius: .5rem;
    margin-left: 4rem;
}*/

/* selectores de clase y identificador */
#login{
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media (min-width: 768px) {
    #login{
        margin-right: 5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
.sesion{
    margin-left: 2rem;
}
/*#boton{
    display: inline-block;
    vertical-align: top;
    background: transparent;
    height: 25px;
    width: 25px;
    padding: 0.6rem 2.2rem 0.3rem 3rem;
    border-radius: 0px 3px 3px 0px;
    margin: 0;
    border: 0;
    position: relative;
    top: 0px;
    right: 217px ;
    cursor: pointer;
}
.fi-rr-search{
    text-align: center;
    color: white;
    border: 2px solid #B3B6B7;
    border-radius: .5rem;
    background-color: #000;
    padding: 0.5rem 2rem 0.2rem;
    margin-right: 35rem;
    position: relative;
    top: 5px;
    left: -80px;
}*/

#navegacion{
    font-size: 20px;
    background: rgb(117, 117, 212);
    /*border: 2px solid orange;*/
    padding: 0.5rem;
}
.search-nav{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 556px) {
    .search-nav{
        flex-direction: row;
        justify-content: space-around;
    }
}
/*main */
#shadow{
    margin: .5rem 2rem;
    -webkit-box-shadow: 0px 4px 8px 1px rgba(133,137,214,1);
    -moz-box-shadow: 0px 4px 8px 1px rgba(133,137,214,1);
    box-shadow: 0px 4px 8px 1px rgba(133,137,214,1);
}